:root {
    --mainOrange: #009193;
    --mainGrey: #636466;
    --secondaryGrey: #A7A9AC;
    --greenColor: #71a033;
    --blueColor: #065f95;
    --whiteColor: #F0F0EF;
    --mainColor: #009193;
    --dangerColor: #ff4444;
    --successColor: #00C851;
    --warningColor: #ffbb33;
    --infoColor: #33b5e5;
}

/* Set the direction right to left */

* {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
}

.space-sm {
    padding: 0 0.225rem;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.dynamic-text-align:lang(ar) {
    text-align: right;
}

.dynamic-text-align:lang(en) {
    text-align: left;
}

.dynamic-text-align-reverse:lang(ar) {
    text-align: left;
}

.dynamic-text-align-reverse:lang(en) {
    text-align: right;
}

.text-main {
    color: rgb(231, 13, 158);
}

.text-grey {
    color: #636466;
}

.text-smoke {
    color: whitesmoke;
}

.border-success {
    border-color: var(--successColor) !important;
}

.border-danger {
    border-color: var(--dangerColor) !important;
}

.border-warning {
    border-color: var(--warningColor) !important;
}

.border-info {
    border-color: var(--infoColor) !important;
}

.bg-main {
    background-color: var(--blueColor);
}

.big-icon {
    font-size: 50px !important;
}

.text-red-light {
    color: #fac3c4 !important;
}

.fade-in-class {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

@media only screen and (max-width: 576px) {
    .text-xs-center {
        text-align: center !important;
    }
    .dynamic-text-xs-align:lang(ar) {
        text-align: right !important;
    }
    .dynamic-text-xs-align:lang(en) {
        text-align: left !important;
    }
}

@media only screen and (min-width: 576px) {
    .text-sm-center {
        text-align: center !important;
    }
    .dynamic-text-sm-align:lang(ar) {
        text-align: right !important;
    }
    .dynamic-text-sm-align:lang(en) {
        text-align: left !important;
    }
}

@media only screen and (min-width: 768px) {
    .text-md-center {
        text-align: center !important;
    }
    .dynamic-text-md-align:lang(ar) {
        text-align: right !important;
    }
    .dynamic-text-md-align:lang(en) {
        text-align: left !important;
    }
}

@media only screen and (min-width: 992px) {
    .text-lg-center {
        text-align: center !important;
    }
    .dynamic-text-lg-align:lang(ar) {
        text-align: right !important;
    }
    .dynamic-text-lg-align:lang(en) {
        text-align: left !important;
    }
}

@media only screen and (min-width: 1200px) {
    .text-xl-center {
        text-align: center !important;
    }
    .dynamic-text-xl-align:lang(ar) {
        text-align: right !important;
    }
    .dynamic-text-xl-align:lang(en) {
        text-align: left !important;
    }
}