/* Intro section styles */

.intro-section {
    background-image: linear-gradient(to right bottom, #205f66c0, #205f66c0), url('../../assets/images/result-1.jpeg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
}

.intro-section :is(.img-wrapper img) {
    width: 100%;
    max-width: 300px;
    height: auto;
    -webkit-animation: floatUpDown 1.5s infinite alternate;
    animation: floatUpDown 1.5s infinite alternate;
}

.intro-section .intro-section-carousel p {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.theme-button {
    position: relative;
    display: block;
    width: 250px;
    background-color: var(--mainOrange);
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s;
    -webkit-animation: buttonUpDownFloat 1s infinite alternate;
    animation: buttonUpDownFloat 1s infinite alternate;
}

.theme-button:hover {
    cursor: pointer;
    background-color: #fc3236;
    animation-play-state: paused;
}

.theme-button::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fc3236;
    z-index: -1;
    transition: 0.4s;
}

.theme-button:hover::after {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

/* about section */

.about-section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #a8a8a58c, #9e9e988c), url('../../assets/images/sexual-problem2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.about-section :is(.img-wrapper img) {
    width: 100%;
    max-width: 300px;
    height: auto;
    -webkit-animation: yRotate 4s infinite alternate;
    animation: yRotate 4s infinite alternate;
}

.about-section .section-header {
    background-color: var(--blueColor);
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

.about-section .feature-text-item {
    color: #fff;
    font-weight: 600;
    padding: 0 1rem;
    text-indent: -1.425rem;
    margin-bottom: 10px;
}

.about-section .feature-text-item::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin-left: 0.325rem;
}

.about-section .feature-text-item::marker {
    content: '';
}

/* Product components */

.product-components {
    background-image: linear-gradient(to right bottom, #205f66c0, #205f66c0), url('../../assets/images/product.png');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.product-components .header {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.product-components .sub-header {
    font-size: 20px;
    font-weight: 600;
    color: rgb(253, 226, 226);
}

.product-components .component {
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 1.5rem 1rem;
    opacity: 0.8;
    border-radius: 10px;
}

.product-components .component .name {
    font-size: 18px;
    color: var(--mainOrange);
    font-weight: 700;
}

.product-components .component .desc {
    font-size: 16px;
    color: var(--blueColor);
    font-weight: 600;
}

/* Product usage section */

.product-usage {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #e0e0da8c, #e0e0da8c), url('../../assets/images/result-1.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.product-usage .header {
    width: fit-content;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: var(--blueColor);
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
}

.product-usage .sub-header {
    font-size: 22px;
    font-weight: 700;
    color: var(--blueColor);
}

.product-usage .usage-item {
    padding: 1.5rem 1rem;
    background-color: #ffffff59;
    border-radius: 10px;
    height: 170px;
    overflow-y: auto;
}

.product-usage .usage-item .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--blueColor);
    border: 2px solid var(--mainOrange);
    border-radius: 50%;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.product-usage .usage-item .desc {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Product usage section */

.pricing-section {
    background-image: linear-gradient(to right bottom, #205f66c0, #205f66c0), url('../../assets/images/result-1.jpeg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
}

.pricing-section .header {
    width: fit-content;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: var(--blueColor);
    background-color: #fff;
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
}

.pricing-section .pricing-item {
    background-color: #faf4f49c;
    border-radius: 10px;
    height: 100%;
}

.pricing-section .pricing-item:hover {
    cursor: pointer;
}

.pricing-section .pricing-item .product-img {
    width: 100%;
    max-height: 90px;
    overflow: hidden;
    text-align: center;
}

.pricing-section .pricing-item img {
    height: auto;
    max-width: 90px;
    max-height: 90px;
    -webkit-animation: yRotate 5s infinite ease-in-out;
    animation: yRotate 10s infinite ease-in-out;
}

.pricing-section .pricing-item .price-wrapper .price-text {
    position: relative;
    font-size: 20px;
}

.pricing-section .pricing-item .price-wrapper .price-text .old-price {
    position: absolute;
    top: -50%;
    right: 10%;
    text-decoration: line-through;
    color: red;
}

.pricing-section .pricing-item .price-wrapper .price-text .current-price {
    font-size: 30px;
    color: var(--blueColor);
}

.pricing-section .pricing-item .body {
    color: rgb(2, 148, 2);
    font-weight: 600;
    font-weight: 600;
}

.pricing-section .pricing-item .body .wrapper {
    position: relative;
    background-color: #ffffffc9;
    font-weight: 600;
    padding: 0.125rem 0;
    margin-bottom: 0.325rem;
    border-radius: 10px;
}

.pricing-section .pricing-item .body .wrapper i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pricing-section:lang(ar) .pricing-item .wrapper i {
    right: 10%;
}

.select-plan-button button {
    position: relative;
    border: none;
    outline: none !important;
    width: 100%;
    padding: 0.625rem 0;
    border-radius: 10px;
    background-color: var(--mainOrange);
    color: #fff;
    font-weight: 700;
    opacity: 0.7;
    transition: all 0.4s;
}

.select-plan-button button:hover {
    cursor: pointer;
    background-color: rgb(253, 70, 70);
}

.select-plan-button button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(253, 70, 70);
    border-radius: 10px;
    z-index: -1;
    transition: all 0.4s;
}

.select-plan-button button:hover::after {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

/* Modal Styles */

#requestProductForm {
    border-radius: 10px;
    z-index: 100000;
}

#requestProductForm .modal-header {
    background-color: var(--blueColor);
}

#requestProductForm .modal-title {
    font-weight: 700;
    color: #fff;
}

#requestProductForm .modal-content {
    border-radius: 10px;
}

#requestProductForm .modal-content .close {
    margin: 0;
    color: rgb(255, 255, 255) !important;
}

#requestProductForm .modal-content .close button {
    outline: none !important;
}

#requestProductForm form input {
    outline: none;
}