@media only screen and (max-width: 576px) {
    .intro-section .major-text {
        font-size: 24px !important;
    }
    .intro-section .minor-text {
        margin-top: 10px;
        font-size: 20px !important;
    }
    .about-section .img-wrapper img {
        width: 200px;
        height: 200px;
        border-radius: 50% !important;
    }
    #popUpModal .modal-content .accreddit {
        width: 120px;
        height: 120px;
        padding: 0;
    }
    #popUpModal .modal-content .accreddit img {
        width: 90px;
    }
    #popUpModal .modal-content .logo img {
        width: 150px;
    }
    .fixed-contact-header {
        font-size: 14px !important;
    }
    .contact-form {
        display: none;
    }
    .contact-form-controlled {
        display: block;
    }
    .contact-form-show {
        display: none;
    }
    .section-header {
        font-size: 30px;
    }
    .stats-header {
        font-size: 26px;
    }
}

@media only screen and (max-width: 414px) {
    #popUpModal .modal-content .accreddit {
        width: 100px;
        height: 100px;
        padding: 0;
    }
    #popUpModal .modal-content .accreddit img {
        width: 80px;
    }
    #popUpModal .modal-content .logo img {
        width: 120px;
    }
    #stats .join-button {
        width: 100%;
    }
    .section-header {
        font-size: 26px;
    }
    .stats-header {
        font-size: 22px;
    }
}

@media only screen and (max-width: 375px) {
    #popUpModal .modal-content .accreddit {
        width: 80px;
        height: 80px;
        padding: 0;
    }
    #popUpModal .modal-content .accreddit img {
        width: 70px;
    }
    #popUpModal .modal-content .logo img {
        width: 90px;
    }
    #stats .join-button {
        width: 100%;
    }
    .section-header {
        font-size: 24px;
    }
    .stats-header {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    #popUpModal .modal-content .accreddit {
        width: 60px;
        height: 60px;
        padding: 0;
    }
    #popUpModal .modal-content .accreddit img {
        width: 40px;
    }
    #popUpModal .modal-content .logo img {
        width: 90px;
    }
    #popUpModal .modal-content .header {
        font-size: 1rem;
        width: 220px;
    }
    .fixed-contact-header {
        font-size: 12px !important;
    }
    .fixed-contact-header .wrapper a {
        line-height: 20px;
        padding: 0;
        background-color: transparent;
        color: #fff;
        text-decoration: underline;
    }
    .section-header {
        font-size: 20px;
    }
    .stats-header {
        font-size: 18px;
    }
}

@media only screen and (max-width: 280px) {
    #popUpModal .modal-content .accreddit {
        width: 50px;
        height: 50px;
        padding: 0;
    }
    #popUpModal .modal-content .accreddit img {
        width: 40px;
    }
    #popUpModal .modal-content .logo img {
        width: 60px;
    }
    .section-header {
        font-size: 16px;
    }
    .stats-header {
        font-size: 14px;
    }
}

/* ********************************************************************************************************* */

@media only screen and (min-width: 576px) {
    .contact-form {
        display: none;
    }
    .contact-form-controlled {
        display: block;
    }
    .contact-form-show {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .contact-form-show {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .contact-form {
        display: block;
        left: 5%;
        width: 280px;
    }
    .contact-form-controlled {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-form {
        left: 5%;
        width: 330px;
    }
}

@media only screen and (min-width: 1300px) {}