/* CTA */

.fixed-contact-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    font-weight: 600;
    z-index: 10000;
}

.fixed-contact-header i {
    font-size: 1.5rem;
}

.fixed-contact-header .wrapper a {
    margin: 0 5px;
    color: #f5f5f5;
    text-decoration: underline;
    font-weight: 700;
}

.fixed-contact-header .close-cta {
    outline: none !important;
    background: none;
    color: #fff;
    border: none;
    position: absolute;
    left: 2%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fixed-contact-header .close-cta i {
    font-size: 16px !important;
    color: #fff;
    cursor: pointer;
}

/* Intro section styles */

.intro-section {
    position: relative;
    background-image: linear-gradient(to right bottom, #205f6633, #205f66c0), url('../../assets/images/banner-cover2.jpg');
    background-size: cover;
    border-bottom: 1px solid #fff;
}

.intro-section .head-label {
    color: var(--mainColor);
    padding: 0.825rem;
}

.intro-section .video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.intro-section .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    outline: none;
    border: none;
    border: 1px solid #ffffff;
    opacity: 0.9;
}

/**************************************************************************************************/

.alert {
    display: none;
}

.contact-form {
    position: fixed;
    top: 13%;
    left: 8%;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px var(--mainColor);
    z-index: 20000;
    width: 330px;
    overflow-y: auto;
}

.contact-form .header {
    position: relative;
    background-color: var(--mainColor);
    color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: 600;
    font-size: 18px;
}

.minimize-form-btn {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    outline: none !important;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.6s;
}

.minimize-form-btn:hover {
    cursor: pointer;
    color: #f5f5f5;
}

.contact-form-show {
    position: fixed;
    left: 0;
    bottom: 0;
    border: none;
    outline: none !important;
    background-color: var(--mainColor);
    color: #ffffff;
    padding: 0.625rem 1.5rem;
    width: 200px;
    border-top-right-radius: 8px;
    display: none;
    z-index: 30000;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.contact-form-show:hover {
    cursor: pointer;
    background-color: rgb(64, 186, 243);
}

.contact-form input {
    font-size: 14px;
}

/* Contact us form */

.contact-us-form {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px var(--mainColor);
    width: 100%;
    overflow-y: auto;
}

.contact-us-form .header {
    background-color: var(--mainColor);
    color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: 600;
    font-size: 18px;
}

.contact-us-form input {
    font-size: 14px;
}

/* about section */

.about-section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-size: cover;
    background-attachment: fixed;
}

.about-section :is(.img-wrapper img) {
    width: 100%;
    max-width: 500px;
    height: auto;
    -webkit-animation: yRotate 4s infinite alternate;
    animation: yRotate 4s infinite alternate;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    border: 2px solid #fff;
}

.about-section .section-header {
    text-align: center;
    border-radius: 5px;
    padding: 1rem 0.625rem;
}

.about-section .feature-item {
    background-color: var(--mainColor);
    color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 7px;
    height: 100%;
}

.about-section .certification img {
    width: 100%;
    max-width: 230px;
    height: auto;
    box-shadow: 0 0 5px #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--blueColor);
}

/* Statistics Section */

#stats {
    background-image: linear-gradient(to right bottom, #a19f9f, rgba(206, 242, 253, 0.781));
    background-size: cover;
    background-attachment: fixed;
}

.squareItem {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(-45deg, #065f95, #009193, #0877bd, #094a72);
    background-size: 400% 400%;
    animation: animateGradient 5s ease infinite;
    box-shadow: 0 0 10px #c01b09;
}

.squareItem:hover {
    cursor: pointer;
}

.squareInnerContainer {
    position: relative;
    height: 100%;
    padding: 50px 15px 35px;
    text-align: center;
    border-radius: 7px;
}

.squareContent h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ffffff;
    padding: 0.325rem 0;
    border-radius: 50px;
    max-width: 190px;
    margin: auto;
    background: linear-gradient(-45deg, #fdbab3, #f77769, #c01b09, #b67069);
    background-size: 400% 400%;
    animation: animateGradient 10s ease infinite;
    border: 1px solid #ffffff;
}

.squareContent h3 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.squareIcon {
    font-size: 45px;
    color: #ffffff;
    transition: transform 1.2s;
}

.squareItem:hover .squareIcon {
    cursor: pointer;
    color: var(--mainOrange);
}

.stats-header {
    padding: 1rem 1.5rem;
    width: fit-content;
    color: #000000;
    text-align: center;
    margin: auto;
    font-weight: 700;
}

.stats-header img {
    width: 60px;
    height: auto;
    transition: all 1.5s;
}

.stats-header img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#stats .join-button {
    display: block;
    width: 50%;
    margin: auto;
    border: none;
    outline: none !important;
    background-color: var(--blueColor);
    color: #fff;
    padding: 1rem 0.825rem;
    font-weight: 600;
    border-radius: 7px;
    transition: all 0.2s;
}

#stats .join-button:hover {
    cursor: pointer;
    background-color: rgb(223, 59, 30);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

/* Statistics Section */

.courses-section {
    background-color: #ffffff;
    border-top: 1px solid #fff;
}

.courses-header {
    width: fit-content;
    margin: auto;
    color: #e53935;
    font-weight: 700;
}

.course-card {
    position: relative;
    border-radius: 7px;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 252px;
    overflow: hidden;
}

.card-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 252px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
}

.card-side-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-color: #ffffff;
    border-radius: 7px;
}

.course-card:hover {
    cursor: pointer;
}

.course-card:hover .card-side-front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.course-card:hover .card-side-back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
}

.course-card .image {
    position: relative;
    height: 170px;
    overflow: hidden;
}

.course-card .image img {
    width: 100%;
    min-height: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #c9cbcc;
}

.course-card .image .lecturer {
    position: absolute;
    display: block;
    bottom: 7%;
    left: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--mainColor);
    padding: 0.225rem 0.825rem;
    color: #ffffff;
    font-weight: 600;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.course-card .image .bookmark-btn {
    position: absolute;
    top: 7%;
    right: 7%;
    font-size: 16px;
    color: red;
    outline: none;
    border: none;
    background-color: transparent;
}

.course-card .image .bookmark-btn:hover {
    cursor: pointer;
}

.course-card .body {
    background-color: var(--blueColor);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.course-card .body .title {
    display: block;
    margin-bottom: 1rem;
    font-size: 14px;
    height: 40px;
    line-height: 16px;
    padding: 6px;
    font-weight: 600;
    color: #ffffff;
    overflow: hidden;
}

.course-card .body .price {
    font-size: 18px;
    font-weight: 600;
}

.course-card .body .current-price {
    color: var(--blueColor);
    font-weight: 700;
}

.course-card .back-body {
    background-image: linear-gradient(to right bottom, #f5eeeed7, #e1f5fad8);
    background-size: cover;
    border-radius: 7px;
    height: 252px;
}

.card-side-back .back-title a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    height: 48px;
    color: var(--mainColor);
    overflow: hidden;
}

.card-side-back .back-topic {
    font-size: 14px;
    margin-bottom: 0.825rem;
}

.card-side-back .back-topic a {
    font-size: 14px;
    margin-bottom: 0.825rem;
    color: var(--mainColor);
    font-weight: 700;
}

.card-side-back .back-info {
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.card-side-back .back-info i {
    color: var(--mainColor);
}

.card-side-back .back-desc {
    font-size: 14px;
    line-height: 16px;
    height: 96px;
    overflow: hidden;
}

/* Product components */

.product-components {
    background-image: linear-gradient(to right bottom, #205f66c0, #205f66c0);
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.product-components .header {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.product-components .sub-header {
    font-size: 20px;
    font-weight: 600;
    color: rgb(253, 226, 226);
}

.product-components .component {
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 1.5rem 1rem;
    opacity: 0.8;
    border-radius: 10px;
}

.product-components .component .name {
    font-size: 18px;
    color: var(--mainOrange);
    font-weight: 700;
}

.product-components .component .desc {
    font-size: 16px;
    color: var(--blueColor);
    font-weight: 600;
}

/* features section */

.features-section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #e0e0da8c, #e0e0da8c);
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-size: cover;
}

.features-section .header {
    width: fit-content;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: var(--blueColor);
    border: 3px solid #fff;
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
}

.features-section .sub-header {
    font-size: 22px;
    font-weight: 700;
    color: var(--blueColor);
}

.features-section .feature-item {
    padding: 1.5rem 1rem;
    background-color: #00515a9c;
    border-radius: 10px;
    height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 5px #fff;
}

.features-section .feature-item .icon {
    font-size: 50px;
    color: rgb(181, 243, 181);
}

.features-section .feature-item .desc {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

/* Product usage section */

.product-usage {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #7e7e7c8c, #7e7e7c8c);
    background-size: cover;
    background-attachment: fixed;
}

.product-usage .header {
    width: fit-content;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: var(--blueColor);
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
}

.product-usage .sub-header {
    font-size: 22px;
    font-weight: 700;
    color: var(--blueColor);
}

.product-usage .usage-item {
    padding: 1.5rem 1rem;
    background-color: #ffffff91;
    border-radius: 10px;
    height: 170px;
    overflow-y: auto;
    box-shadow: 0 0 5px rgb(247, 201, 201);
}

.product-usage .usage-item .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--blueColor);
    border: 2px solid var(--mainOrange);
    border-radius: 50%;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.product-usage .usage-item .desc {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Product usage section */

.pricing-section {
    background-image: linear-gradient(to right bottom, #2784948f, #2784948f);
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
}

.pricing-section .header {
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: #023338b2;
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
    border: 2px solid #fff;
}

.pricing-section .pricing-item {
    position: relative;
    background-color: rgb(212, 194, 206);
    border-radius: 10px;
    height: 100%;
    opacity: 0.8;
    box-shadow: 0 0 5px #fff;
    overflow: hidden;
}

.pricing-section .pricing-item:hover {
    cursor: pointer;
}

.pricing-section .pricing-item .discount-badge {
    position: absolute;
    top: 3%;
    left: -10%;
    background: linear-gradient(270deg, #fdf2e7, #f90000);
    background-size: 400% 400%;
    -webkit-animation: animatebg 3s ease infinite;
    -moz-animation: animatebg 3s ease infinite;
    animation: animatebg 3s ease infinite;
    color: #fff;
    padding: 0.325rem 2.5rem;
    font-size: 14px;
    font-weight: 700;
    -webkit-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
}

.pricing-section .pricing-item .price-wrapper .price-text {
    position: relative;
    font-size: 20px;
}

.pricing-section .pricing-item .price-wrapper .price-text .old-price {
    position: absolute;
    top: -50%;
    right: 10%;
    text-decoration: line-through;
    color: red;
}

.pricing-section .pricing-item .price-wrapper .price-text .current-price {
    font-size: 30px;
    color: rgb(8, 78, 124);
}

.pricing-section .pricing-item .product-name {
    background-color: rgb(255, 0, 191);
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
}

.pricing-section .pricing-item .body {
    color: rgb(2, 148, 2);
    font-weight: 600;
    font-weight: 600;
}

.pricing-section .pricing-item .body .wrapper {
    position: relative;
    background-color: #fff;
    font-weight: 600;
    padding: 0.125rem 0;
    margin-bottom: 0.325rem;
    border-radius: 10px;
}

.pricing-section .pricing-item .body .wrapper i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pricing-section:lang(ar) .pricing-item .wrapper i {
    right: 10%;
}

.send-message-btn button {
    position: relative;
    border: none;
    outline: none !important;
    width: 100%;
    padding: 0.625rem 0;
    border-radius: 5px;
    background-color: var(--blueColor);
    color: #fff;
    font-weight: 700;
    opacity: 0.9;
    transition: all 0.4s;
}

.send-message-btn button:hover {
    cursor: pointer;
    background-color: var(--blueColor);
}

.send-message-btn button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blueColor);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s;
}

.send-message-btn button:hover::after {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

/* Modal Styles */

#popUpModal {
    border-radius: 10px;
    z-index: 100000;
}

.modal-absolute-logo {
    position: absolute;
    top: 4%;
    left: 4%;
}

.modal-absolute-logo img {
    width: 80px;
    height: auto;
}

#popUpModal .modal-title {
    font-weight: 700;
    color: #000;
}

#popUpModal .modal-content {
    position: relative;
    background-image: linear-gradient(to right bottom, #0e0d0dd0, #0e0d0dd0), url('../../assets/images/ul.jpg');
    border-radius: 10px;
    box-shadow: 0 0 5px #fff;
}

#popUpModal .modal-content .close {
    margin: 0;
    color: rgb(255, 255, 255) !important;
    outline: none !important;
}

#popUpModal .modal-content .close button {
    outline: none !important;
}

#popUpModal .modal-content .header {
    color: #fff;
    background-color: var(--blueColor);
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 250px;
    margin: auto;
}

#popUpModal .modal-content .text {
    color: #fff;
    font-weight: 600;
}

#popUpModal .modal-content .accreddit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.625rem;
    border: 2px solid var(--mainOrange);
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#popUpModal .modal-content .accreddit img {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
}

#popUpModal .modal-content .country img {
    width: 30px;
    height: auto;
}

#popUpModal .apply-btn, #popUpModal .more-btn {
    text-decoration: none !important;
    border: none !important;
    border-radius: 7px;
    color: #ffffff;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
}

#popUpModal .apply-btn {
    background-color: rgb(255, 0, 0);
}

#popUpModal .more-btn {
    background-color: var(--mainColor);
}

/* Banner card Styles */

.banner-card {
    position: relative;
    background-image: linear-gradient(to right bottom, #00000088, #00000088), url('../../assets/images/ul.jpg');
    background-size: cover;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}

.banner-card .header {
    color: #fff;
    background-color: var(--blueColor);
    border-radius: 50px;
    font-size: 0.825rem;
    font-weight: 700;
    width: fit-content;
    padding: 1rem 1.5rem;
    margin: auto;
}

.banner-card .text {
    color: #fff;
    font-weight: 600;
}

.banner-card .apply-btn, .banner-card .more-btn {
    text-decoration: none !important;
    border: none !important;
    border-radius: 7px;
    color: #ffffff;
    width: 80%;
    padding: 0.625rem 0;
    text-align: center;
}

.banner-card .apply-btn {
    background-color: rgb(255, 0, 0);
}

.banner-card .more-btn {
    background-color: var(--mainColor);
}

/* ***************************************************************************************** */

.category-card {
    display: table;
    height: 100%;
    background-color: #1f1d1dc5;
    border-radius: 7px;
}

.category-card .image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.category-card .body {
    display: table-row;
}

.category-card .body .title {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}

.banners-carousel .owl-stage-outer, .banners-carousel .owl-stage, .banners-carousel .owl-item {
    height: 100%;
}

/* sectoion logo container */

.section-logo-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    animation: yRotate 5s infinite alternate;
}