/* CTA */

.fixed-contact-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    font-weight: 600;
    z-index: 10000;
    box-shadow: 0 0 5px #fff;
}

.fixed-contact-header i {
    font-size: 1.5rem;
}

.fixed-contact-header .wrapper a {
    margin: 0 5px;
    padding: 2px 10px;
    border-radius: 50px;
    background-color: #fff;
    color: red;
    line-height: 40px;
}

.fixed-contact-header .close-cta {
    outline: none !important;
    background: none;
    color: #fff;
    border: none;
    position: absolute;
    left: 2%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fixed-contact-header .close-cta i {
    font-size: 16px !important;
    color: #fff;
    cursor: pointer;
}

/* Intro section styles */

.intro-section {
    position: relative;
    background-image: linear-gradient(to right bottom, #00000088, #00000088), url('../../assets/images/covermodal.jpg.crdownload');
    background-size: cover;
    border-bottom: 1px solid #fff;
}

.intro-section .video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    box-shadow: 0 0 5px #fff;
}

.intro-section .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0 0 5px #fff;
}

/**************************************************************************************************/

.contact-form {
    position: fixed;
    top: 13%;
    left: 8%;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px var(--mainColor);
    z-index: 20000;
    width: 330px;
}

.contact-form .header {
    background-color: var(--mainColor);
    color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: 600;
    font-size: 18px;
}

/* about section */

.about-section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #797973ab, #888881a9), url('../../assets/images/Health-care.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.about-section :is(.img-wrapper img) {
    width: 100%;
    max-width: 500px;
    height: auto;
    -webkit-animation: yRotate 4s infinite alternate;
    animation: yRotate 4s infinite alternate;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    border: 2px solid #fff;
}

.about-section .section-header {
    background-color: var(--blueColor);
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7;
    border-radius: 50px;
}

.about-section .feature-text-item {
    color: #fff;
    font-weight: 600;
    padding: 0 1rem;
    text-indent: -1.425rem;
    margin-bottom: 10px;
}

.about-section .feature-text-item::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin-left: 0.325rem;
}

.about-section .feature-text-item::marker {
    content: '';
}

/* Statistics Section */

#stats {
    background-image: linear-gradient(to right bottom, #fa8475cc, rgba(206, 242, 253, 0.781)), url('../../assets/images/ul.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.squareItem {
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.squareItem:hover {
    cursor: pointer;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 3px solid var(--blueColor);
    border-top: none;
    border-radius: 7px;
}

.squareInnerContainer:before, .squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 3px solid var(--blueColor);
    border-radius: 7px;
}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px
}

.squareContent h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e74c3c;
}

.squareContent h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
    transition: transform 1.2s;
}

.squareItem:hover .squareIcon {
    cursor: pointer;
    color: var(--mainOrange);
}

.stats-header {
    background-color: var(--blueColor);
    border-radius: 50px;
    padding: 1rem 0.625rem;
    width: 230px;
    margin: auto;
    color: #fff;
}

.stats-header img {
    width: 60px;
    height: auto;
    transition: all 1.5s;
}

.stats-header img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#stats .join-button {
    display: block;
    width: 50%;
    margin: auto;
    border: none;
    outline: none !important;
    background-color: rgb(253, 63, 29);
    color: #fff;
    padding: 1rem 0.825rem;
    font-weight: 600;
    border-radius: 7px;
    transition: all 0.2s;
}

#stats .join-button:hover {
    cursor: pointer;
    background-color: rgb(253, 75, 44);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

/* Product components */

.product-components {
    background-image: linear-gradient(to right bottom, #205f66c0, #205f66c0), url('../../assets/images/garrab-benafsak.jpeg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.product-components .header {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.product-components .sub-header {
    font-size: 20px;
    font-weight: 600;
    color: rgb(253, 226, 226);
}

.product-components .component {
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 1.5rem 1rem;
    opacity: 0.8;
    border-radius: 10px;
}

.product-components .component .name {
    font-size: 18px;
    color: var(--mainOrange);
    font-weight: 700;
}

.product-components .component .desc {
    font-size: 16px;
    color: var(--blueColor);
    font-weight: 600;
}

/* features section */

.features-section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #e0e0da8c, #e0e0da8c), url('../../assets/images/strong1.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-size: cover;
}

.features-section .header {
    width: fit-content;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: var(--blueColor);
    border: 3px solid #fff;
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
}

.features-section .sub-header {
    font-size: 22px;
    font-weight: 700;
    color: var(--blueColor);
}

.features-section .feature-item {
    padding: 1.5rem 1rem;
    background-color: #00515a9c;
    border-radius: 10px;
    height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 5px #fff;
}

.features-section .feature-item .icon {
    font-size: 50px;
    color: rgb(181, 243, 181);
}

.features-section .feature-item .desc {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

/* Product usage section */

.product-usage {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #7e7e7c8c, #7e7e7c8c), url('../../assets/images/1200-1200/13.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.product-usage .header {
    width: fit-content;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: var(--blueColor);
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
}

.product-usage .sub-header {
    font-size: 22px;
    font-weight: 700;
    color: var(--blueColor);
}

.product-usage .usage-item {
    padding: 1.5rem 1rem;
    background-color: #ffffff91;
    border-radius: 10px;
    height: 170px;
    overflow-y: auto;
    box-shadow: 0 0 5px rgb(247, 201, 201);
}

.product-usage .usage-item .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--blueColor);
    border: 2px solid var(--mainOrange);
    border-radius: 50%;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.product-usage .usage-item .desc {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Product usage section */

.pricing-section {
    background-image: linear-gradient(to right bottom, #2784948f, #2784948f), url('../../assets/images/1200-1200/47.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
}

.pricing-section .header {
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: #023338b2;
    padding: 1.5rem 3rem;
    opacity: 0.7;
    border-radius: 50px;
    border: 2px solid #fff;
}

.pricing-section .pricing-item {
    position: relative;
    background-color: rgb(212, 194, 206);
    border-radius: 10px;
    height: 100%;
    opacity: 0.8;
    box-shadow: 0 0 5px #fff;
    overflow: hidden;
}

.pricing-section .pricing-item:hover {
    cursor: pointer;
}

.pricing-section .pricing-item .discount-badge {
    position: absolute;
    top: 3%;
    left: -10%;
    background: linear-gradient(270deg, #fdf2e7, #f90000);
    background-size: 400% 400%;
    -webkit-animation: animatebg 3s ease infinite;
    -moz-animation: animatebg 3s ease infinite;
    animation: animatebg 3s ease infinite;
    color: #fff;
    padding: 0.325rem 2.5rem;
    font-size: 14px;
    font-weight: 700;
    -webkit-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
}

.pricing-section .pricing-item .price-wrapper .price-text {
    position: relative;
    font-size: 20px;
}

.pricing-section .pricing-item .price-wrapper .price-text .old-price {
    position: absolute;
    top: -50%;
    right: 10%;
    text-decoration: line-through;
    color: red;
}

.pricing-section .pricing-item .price-wrapper .price-text .current-price {
    font-size: 30px;
    color: rgb(8, 78, 124);
}

.pricing-section .pricing-item .product-name {
    background-color: rgb(255, 0, 191);
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
}

.pricing-section .pricing-item .body {
    color: rgb(2, 148, 2);
    font-weight: 600;
    font-weight: 600;
}

.pricing-section .pricing-item .body .wrapper {
    position: relative;
    background-color: #fff;
    font-weight: 600;
    padding: 0.125rem 0;
    margin-bottom: 0.325rem;
    border-radius: 10px;
}

.pricing-section .pricing-item .body .wrapper i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pricing-section:lang(ar) .pricing-item .wrapper i {
    right: 10%;
}

.select-plan-button button {
    position: relative;
    border: none;
    outline: none !important;
    width: 100%;
    padding: 0.625rem 0;
    border-radius: 10px;
    background-color: var(--blueColor);
    color: #fff;
    font-weight: 700;
    opacity: 0.9;
    transition: all 0.4s;
}

.select-plan-button button:hover {
    cursor: pointer;
    background-color: var(--blueColor);
}

.select-plan-button button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blueColor);
    border-radius: 10px;
    z-index: -1;
    transition: all 0.4s;
}

.select-plan-button button:hover::after {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

/* Modal Styles */

#popUpModal {
    border-radius: 10px;
    z-index: 100000;
}

#popUpModal .modal-title {
    font-weight: 700;
    color: #000;
}

#popUpModal .modal-content {
    background-image: linear-gradient(to right bottom, #0e0d0dd0, #0e0d0dd0), url('../../assets/images/ul.jpg');
    border-radius: 10px;
    box-shadow: 0 0 5px #fff;
}

#popUpModal .modal-content .close {
    margin: 0;
    color: rgb(255, 255, 255) !important;
    outline: none !important;
}

#popUpModal .modal-content .close button {
    outline: none !important;
}

#popUpModal .modal-content .header {
    color: #fff;
    background-color: var(--blueColor);
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 250px;
    margin: auto;
}

#popUpModal .modal-content .text {
    color: #fff;
    font-weight: 600;
}

#popUpModal .modal-content .accreddit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid var(--mainOrange);
}

#popUpModal .modal-content .accreddit img {
    display: block;
    width: 80px;
    height: auto;
    margin: auto;
}

#popUpModal .modal-content .logo img {
    display: block;
    width: 150px;
    height: auto;
    margin: auto;
}

#popUpModal .apply-btn, #popUpModal .more-btn {
    text-decoration: none !important;
    border: none !important;
    border-radius: 7px;
    color: #ffffff;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
}

#popUpModal .apply-btn {
    background-color: rgb(255, 0, 0);
}

#popUpModal .more-btn {
    background-color: var(--mainColor);
}

/* ***************************************************************************************** */

#feedback {
    background-image: linear-gradient(to right bottom, #00515ab0, #00515ab0), url('../../assets/images/1200-1200/21.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
}

.feedback-header {
    width: fit-content;
    background-color: rgba(245, 245, 245, 0.733);
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    border: 2px solid rgb(136, 123, 123);
}

.feedback-header span {
    font-weight: 700;
    color: var(--mainGrey);
}

.feedback-header a:hover {
    text-decoration: none;
}

.feedback-body .fa-quote-left {
    padding: 0.825rem 1.5rem;
    font-size: 20px;
    color: var(--mainOrange);
}

.feedback-item {
    background: #fff;
    border-radius: 10px;
    margin: .5rem;
}

.feedback-item:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.04);
    transition: .4s;
    cursor: pointer;
}

.feedback-item .customer {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--blueColor);
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.625rem 0;
    border-bottom: 2px solid #333;
    border-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 00px 0px 3px #fff;
}

.feedback-item .customer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.mark {
    position: absolute;
    color: #60a2b8;
    font-size: 2rem;
    left: 1rem;
    padding: 0;
    line-height: 1.25em;
}

.feedback-item .quote {
    text-align: center;
    margin: 0.625rem;
    padding: 0 0.825rem;
    font-size: 16px;
    font-weight: 600;
    color: rgb(65, 64, 64);
    overflow: auto;
    height: 190px;
    max-height: 190px;
    overflow: auto;
}

.feedback-item .feedback-body {
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.753)), url('../../assets/images/500-500/13.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 3px #fff;
}

.feedback-item .date-footer {
    font-size: 14px;
    font-weight: 700 !important;
    padding: 1rem 0.825rem;
    color: #fff;
    background-color: #00515ab6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border: 1px solid grey;
}

::-webkit-scrollbar-thumb {
    background: var(--mainOrange);
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}