@import './animation.css';
/* ************************************************************************************************************************ */

/* ************************************************************************************************************************ */

.top-header {
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
    color: #fff;
    font-size: 14px;
}

.top-header .phone-container a {
    color: #dfdbdb;
}

.top-header .logo-container img {
    width: 80px;
    height: auto;
}

.top-header .social-links-container i {
    font-size: 24px;
}

/* ********************************************************************************************************* */

#footer {
    background-color: #000000;
    color: #fff;
    height: max-content !important;
}

.footer-header-wave svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-header-wave svg {
    fill: rgb(230, 221, 221);
}

.footer-section-label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.925rem;
}

.footer-text .header img {
    width: 130px;
    height: auto;
}

.footer-section-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 0.425rem 0;
    font-weight: 600;
}

.footer-section-links a:hover {
    color: rgb(252, 216, 178);
}

.contact-link {
    display: flex !important;
    justify-content: start;
    align-items: flex-start;
}

.contact-link p {
    margin-bottom: 0.325rem;
}

.contact-link .wrapper p {
    margin-bottom: 0;
}

.footer-map-container {
    position: relative;
    height: max-content;
}

.footer-map-container iframe {
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(199, 192, 192);
    transition: all 0.4s;
}

.footer-map-container iframe:hover {
    -webkit-transform: scaleX(1.1) scaleY(1.2);
    transform: scaleX(1.03) scaleY(1.08);
}

.footer-map-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #034168;
    transition: all 0.4s;
    z-index: -1;
    border-radius: 10px;
}

.footer-map-container:hover::after {
    -webkit-transform: scaleX(1.08) scaleY(1.1);
    transform: scaleX(1.08) scaleY(1.1);
    opacity: 0;
}

.footer-logo-container a img {
    width: 200px;
    height: auto;
    transition: transform 1.5s;
}

.footer-social-link {
    font-size: 30px;
    text-decoration: none;
    margin: 0 0.325rem;
    color: #fff;
}

.footer-social-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.footer-social-link i:hover {
    transition: all 0.6s;
    -webkit-transform: scaleX(1.03) scaleY(1.05);
    transform: scaleX(1.3) scaleY(1.3);
}

/* ************************************************************************************************** */

#go-up {
    position: fixed;
    bottom: 5%;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--blueColor);
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    z-index: 10000;
    display: none;
}

#go-up:lang(ar) {
    right: 4%;
}

#go-up:lang(en) {
    left: 4%;
}