@import './animation.css';
/* ************************************************************************************************************************ */

/* ************************************************************************************************************************ */

#top-header {
    padding: 0.625rem 0.825rem;
    background-image: linear-gradient(to right bottom, #1b2e3073, #205f66c0), url('../../assets/images/result-1.jpeg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}

#top-header .telephone-number, #top-header .contact-email {
    display: inline-block;
}

.header-link {
    text-decoration: none;
    color: white;
}

.header-link:hover, #top-header .telephone-number:hover {
    color: rgb(255, 236, 202);
}

.header-button {
    position: relative;
    padding: 0.325rem 0.825rem;
    background-color: var(--mainOrange);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
}

.header-button:hover {
    text-decoration: none;
    font-weight: 600;
    color: rgb(236, 235, 235);
    cursor: pointer;
}

.language-link {
    text-decoration: none;
    color: white;
}

.language-link:hover {
    text-decoration: none;
    color: rgb(255, 236, 202);
}

.language-link img {
    width: 20px;
    height: 20px;
}

#main-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 0.825rem;
    background-image: linear-gradient(to right bottom, #00515ab0, #00515aa4), url('../../assets/images/result-1.jpeg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    box-shadow: 0 0 5px #00515A;
    z-index: 3000;
}

.header-logo {
    width: 70px;
    height: 70px;
    transition: transform 1.5s;
    border-radius: 50%;
}

.header-logo:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.top-header-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 0.925rem 1rem;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.top-header-link:hover {
    text-decoration: none;
    color: #ebe8e8;
}

.top-header-link:hover::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 5px;
    bottom: 0px;
    left: 0%;
    background-color: #f0efef;
}

.dropdown-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--mainGrey) !important;
    font-weight: 600;
    padding: 0.425rem 0.625rem;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.dropdown-link:hover {
    cursor: pointer;
}

.dropdown-link button {
    border: none;
    background-color: transparent;
    outline: none !important;
    color: #fff !important;
    font-weight: 600;
}

.dropdown-link button:hover {
    cursor: pointer;
    color: white !important;
}

.dropdown-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px var(--mainGrey);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 2000;
}

.dropdown-option {
    position: relative;
    display: block;
    text-align: center;
    color: var(--mainGrey);
    text-decoration: none;
    padding: 0.625rem 1rem;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.dropdown-option:hover {
    text-decoration: none;
    color: var(--blueColor);
}

.dropdown-option:hover:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: var(--blueColor);
}

.dropdown-option:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: var(--blueColor);
}

.dropdown-link:hover .dropdown-options {
    display: block;
}

/* ******************************************************************************************************** */

.fixed-date-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 10%;
    z-index: 10000;
    background-color: var(--blueColor);
    color: white;
    font-weight: 600;
    padding: 0.825rem 0.625rem;
    box-shadow: 2px 2px 2px grey;
}

.fixed-date-container:lang(ar) {
    left: 0;
}

.fixed-date-container:lang(en) {
    right: 0;
}

.fixed-date-container .time {
    font-weight: 700;
}

#date-container-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -21%;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 3px grey;
    width: 26px;
    height: 26px;
    color: var(--blueColor);
    outline: none !important;
    font-size: 0.925rem;
}

#date-container-toggler:lang(ar) {
    right: -3%;
}

#date-container-toggler:lang(en) {
    left: -3%;
}

#date-container-toggler:hover {
    cursor: pointer;
}

#date-container-toggler:hover i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: transform 1.5s;
}

#date-container-opener {
    display: none;
    color: #fff;
    outline: none !important;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

#date-container-opener {
    cursor: pointer;
}

/* *********************************************************************************************************** */

#small-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.625rem 0.625rem;
    background-image: linear-gradient(to right bottom, #faf8f6c2, #faf8f6c2), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    color: white;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 0 5px #034168;
    z-index: 5000;
}

/* ********************************************************************************************************* */

#sidebar-toggler {
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    color: var(--mainOrange);
    outline: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#sidebar-toggler:hover {
    cursor: pointer;
    color: var(--mainGrey);
}

/* ********************************************************************************************************** */

.small-logo-container img {
    width: 60px;
    height: auto;
}

.small-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
}

.small-header-button {
    text-decoration: none;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background-color: #19818d;
    padding: 1.2rem 0;
    z-index: 30000;
}

.sidebar-header {
    position: relative;
    display: none;
}

.sidebar-close-btn {
    position: absolute;
    top: 5px;
    font-size: 18px;
    border: none;
    outline: none !important;
    color: #f5dada;
    background-color: transparent;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .6s ease-in-out;
}

.sidebar-close-btn:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.sidebar-close-btn:lang(ar) {
    left: 10px;
}

.sidebar-close-btn:lang(en) {
    right: 10px;
}

.sidebar-header .no-login-container img {
    width: 80px;
    height: auto;
    transition: transform 1s ease-in-out;
}

.sidebar-header .no-login-container img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.sidebar-body {
    display: none;
    width: 100%;
    padding: 0.625rem 0;
}

.sidebar-link {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0.625rem 2rem;
    transition: background 0.6s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 300%;
}

.sidebar-link:hover {
    background-color: #ffffff;
    color: white !important;
    font-weight: 700;
    text-decoration: none;
    color: var(--mainOrange);
    background-position: 100%;
    transform: translateX(0.2rem);
}

.sidebar-link .lang-img {
    width: 20px;
    height: auto;
}

.header-social-links .social-link {
    padding: 0.325rem 0.425rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--blueColor);
}

.header-social-links .social-link:hover {
    text-decoration: none;
    background-color: var(--blueColor);
    color: #ffffff;
}

.mobile-header-link {
    padding: 0.325rem 0.125rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--mainOrange);
}

.mobile-header-link:hover {
    color: var(--blueColor);
}

/* ****************************************************************************************************** */

#loading-overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eef0f5ec;
    z-index: 5000;
}

.overlay-loading-logo img {
    width: 200px;
    height: auto;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
}

/* ********************************************************************************************************* */

#footer {
    background-image: linear-gradient(to right bottom, #00515ac2, #124e55b4), url('../../assets/images/takheertabea.png');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 300s linear infinite;
    color: #fff;
    height: max-content !important;
}

.footer-header-wave svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-header-wave svg {
    fill: rgb(230, 221, 221);
}

.footer-content {
    padding: 3.5rem 2rem;
}

.footer-section-label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.925rem;
}

.footer-section-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 0.425rem 0;
    font-weight: 600;
}

.footer-section-links a:hover {
    color: rgb(252, 216, 178);
}

.contact-link {
    display: flex !important;
    justify-content: start;
    align-items: flex-start;
}

.contact-link p {
    margin-bottom: 0.325rem;
}

.contact-link .wrapper p {
    margin-bottom: 0;
}

.footer-map-container {
    position: relative;
    height: max-content;
}

.footer-map-container iframe {
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(199, 192, 192);
    transition: all 0.4s;
}

.footer-map-container iframe:hover {
    -webkit-transform: scaleX(1.1) scaleY(1.2);
    transform: scaleX(1.03) scaleY(1.08);
}

.footer-map-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #034168;
    transition: all 0.4s;
    z-index: -1;
    border-radius: 10px;
}

.footer-map-container:hover::after {
    -webkit-transform: scaleX(1.08) scaleY(1.1);
    transform: scaleX(1.08) scaleY(1.1);
    opacity: 0;
}

.footer-logo-container a img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform 1.5s;
}

.footer-social-link {
    font-size: 30px;
    text-decoration: none;
    margin: 0 0.325rem;
    color: #fff;
}

.footer-social-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.footer-social-link i:hover {
    transition: all 0.6s;
    -webkit-transform: scaleX(1.03) scaleY(1.05);
    transform: scaleX(1.3) scaleY(1.3);
}

/* ************************************************************************************************** */

#go-up {
    position: fixed;
    bottom: 5%;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--blueColor);
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    z-index: 10000;
    display: none;
}

#go-up:lang(ar) {
    right: 4%;
}

#go-up:lang(en) {
    left: 4%;
}