/* Carousel Styles */

.owl-dots {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    z-index: 200;
}

/* .owl-dot {
    width: 15px;
    height: 10px;
    border-radius: 50%;
    outline: none !important;
    transition: all 0.4s ease;
    background-color: rgb(190, 190, 190) !important;
    margin: 0 3px;
}

.owl-dot:hover {
    background-color: white !important;
}

.owl-dots .active {
    width: 30px;
    height: 12px;
    border-radius: 5px;
    background-color: white !important;
} */

.owl-nav {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    width: 100%;
}

.owl-next, .owl-prev {
    position: absolute;
    outline: none !important;
}

.owl-next {
    right: 0;
}

.owl-prev {
    left: 0;
}

.owl-next i, .owl-prev i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: red;
    transition: all 0.4s;
}

.owl-next i {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.owl-prev i {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.owl-next i:hover, .owl-prev i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* End of carousel styles */